.navbar {
    background-color: #333;
    padding: 1rem;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    cursor: pointer;
  }
  
  .logo-img {
    width: 40px; /* Tamaño del logo */
  }
  
  .user-section {
    position: relative;
  }
  
  .user-name {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
  }
  
  .user-name span {
    margin-right: 5px;
  }
  
  .dropdown-arrow {
    font-size: 16px;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f44336;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-menu button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: 100%;
  }
  
  .dropdown-menu button:hover {
    background-color: #d32f2f;
  }
  
  button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d32f2f;
  }
  